#three {
  --c1: #f43518;
  --c2: #2a2b5b;
  --c3: #fef0d6;

  background: 
  /* Group Four */
  radial-gradient(circle at 55px 165px, var(--c2) 14px, transparent 15px),
  radial-gradient(circle at 77px 165px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 55px 187px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 33px 165px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 55px 143px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 55px 165px, var(--c3) 54px, transparent 55px),
  /* Group Three */
  radial-gradient(circle at 165px 55px, var(--c2) 14px, transparent 15px),
  radial-gradient(circle at 187px 55px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 165px 77px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 143px 55px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 165px 33px, var(--c1) 14px, transparent 15px),
  radial-gradient(circle at 165px 55px, var(--c3) 54px, transparent 55px),
  /* Group Two */
  radial-gradient(circle at 165px 165px, var(--c3) 24px, transparent 25px),
  radial-gradient(circle at 191px 191px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 139px 191px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 191px 139px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 139px 139px, var(--c2) 24px, transparent 25px),
  /* Group One */
  radial-gradient(circle at 55px 55px, var(--c3) 24px, transparent 25px),
  radial-gradient(circle at 81px 81px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 29px 81px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 81px 29px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 29px 29px, var(--c2) 24px, transparent 25px);
  background-color: var(--c1);
  background-size: 220px 220px;
  min-height: 440px;
}