#three {
  --c1: #e4491c;
  --c2: #003246;
  --c3: #fef0d6;

  background: 
  /* Group Four */ 
  radial-gradient(circle at 165px 165px, var(--c2) 20px, transparent 21px),
  radial-gradient(circle at 195px 165px, var(--c3) 20px, transparent 21px),
  radial-gradient(circle at 165px 195px, var(--c3) 20px, transparent 21px),
  radial-gradient(circle at 135px 165px, var(--c3) 20px, transparent 21px),
  radial-gradient(circle at 165px 135px, var(--c3) 20px, transparent 21px),
  /* Group Three */
  radial-gradient(circle at 55px 165px, var(--c3) 24px, transparent 25px),
  radial-gradient(circle at 81px 139px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 81px 191px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 29px 191px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 29px 139px, var(--c2) 24px, transparent 25px),
  /* Group Two */
  radial-gradient(circle at 165px 55px, var(--c3) 24px, transparent 25px),
  radial-gradient(circle at 191px 29px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 191px 81px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 139px 81px, var(--c2) 24px, transparent 25px),
  radial-gradient(circle at 139px 29px, var(--c2) 24px, transparent 25px),
  /* Group One */
  radial-gradient(circle at 55px 55px, var(--c2) 20px, transparent 21px),
  radial-gradient(circle at 85px 55px, var(--c3) 20px, transparent 21px),
  radial-gradient(circle at 55px 85px, var(--c3) 20px, transparent 21px),
  radial-gradient(circle at 25px 55px, var(--c3) 20px, transparent 21px),
  radial-gradient(circle at 55px 25px, var(--c3) 20px, transparent 21px);

  background-color: var(--c1);
  background-size: 220px 220px;
  min-height: 440px;
}